godemo/
/log/logs
gonic/tmp
tmp/
test.db
go.sum
.vscode

go-debug/delve/debug


# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test
*.profile
.DS_Store

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
a.go
